@import 'tailwindcss';

@theme {
  --color-neutral-100: oklch(0.9698 0.0054 95.1);
  --color-neutral-200: oklch(0.9195 0.0076 164.93);
  --color-neutral-300: oklch(0.8845 0.0135 179.42);
  --color-neutral-800: oklch(0.4342 0.038 180.97);
  --color-neutral-900: oklch(0.32 0.0429 181);
  --color-orange-500: oklch(0.7885 0.132 48.75);
  --font-display: var(--font-nunito);
  --font-sans: var(--font-nunito-sans);
  --radius-xl: 0.625rem;
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;
  --radius-4xl: 1.25rem;
  --text-2xl--letter-spacing: -0.5px;
  --text-2xl--line-height: 1.3;
  --text-3xl: 2rem;
  --text-3xl--letter-spacing: -0.5px;
  --text-3xl--line-height: 1.3;
  --text-4xl: 2.5rem;
  --text-4xl--letter-spacing: -1px;
  --text-4xl--line-height: 1.2;
  --text-6xl: 3.25rem;
  --text-6xl--line-height: 1.1;
  --text-lg--line-height: 1.5;
  --tracking-normal: -0.3px;
  --tracking-tight: -0.4px;
  --tracking-tighter: -0.5px;
}
